.game {
   /* display: flex; */
   /* justify-content: space-evenly; */
   /* min-width: 87vw; */
   font-size: 1.8rem;
   text-align: center;
   /* margin: 0 auto; */
   /* padding-top: 8rem; */

   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 8rem 3rem;
   row-gap: 2rem;
}

.board {
   position: relative;
   grid-row: span 3;
}

.cta {
   font-family: 'Nunito', -apple-system, cursive, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
   padding: 1.8rem 4rem;
   text-transform: uppercase;
   cursor: pointer;
   border: none;
   background-color: #bffcfb;
   margin-top: 2rem;
   border-radius: 10px;
   box-shadow: 0px 4px 0px 0px #002726;
}
.cta:hover {
   background-color: #71e6e4;
}

.instruction {
   font-size: 1.5rem;
   text-align: left;
   color: rgb(255, 255, 255);
   /* padding: 2.5rem; */
   /* width: 53%; */
   width: 100%;
   padding: 0 2rem;
}

@media screen and (max-width: 600px) {
   .instruction {
      font-size: 1.2rem;
      width: 100%;
      /* margin-top: 5rem; */

      /* padding: ; */
   }
   .game {
      /* flex-direction: column; */
      grid-template-columns: 1fr;
   }
   .desc {
      font-size: 1.4rem;
      margin: 0 auto;
      margin-bottom: 4rem;
   }
   .cta {
      padding: 1rem 2rem;
   }

   .vertical.start {
      top: 4.7rem;
   }
   .vertical {
      transform-origin: 2rem 2rem;
   }
}

@media screen and (max-width: 900px) {
   .game {
      flex-direction: column;
      min-width: auto;
   }
   .desc {
      margin: 0 auto;
      margin-bottom: 4rem;
      min-width: 60%;
   }
}
