.circle {
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border-color: blue;
   border-style: solid;
   cursor: pointer;
}
.black {
   background-color: black;
}
.red {
   background-color: red;
}

.quad {
   width: 160px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   position: relative;
}
.quad:first-child {
   margin-bottom: 1rem;
}
.board {
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

img {
   position: absolute;
   transform: rotateX(10deg);
   width: 5rem;
   /* top: -57px;
   right: -39px; */
   cursor: pointer;
}

.col-container {
   position: relative;
}
.rotate-container {
}

.col {
   /* position: relative; */
}

.left {
   left: -6rem;
}

.top {
   top: -6rem;
}
.bottom0 {
   bottom: 0;
}
.bottom6 {
   bottom: -6rem;
}

.right6 {
   right: -6rem;
}
.right0 {
   right: 0;
}
